{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block style %}
<style>
        html, body, main, #target {
            min-height: 100% !important;
            height: 100%;
            padding: 0;
            margin: 0;
        }
        #map {
            height: 100%;  /* The height is 400 pixels */
            width: 100%;  /* The width is the width of the web page */
        }
        div.button {
            border-radius: 50%;
            box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
            cursor: pointer;
            border: 2px solid rgba(0, 0, 0, .15);
            display: none;
            /* display: inline-block; */
        }

        div.window {
            margin: 30px;
            background-color: rgba(0, 0, 100, .3);
            border-radius: 10px;
            /* display: block; */
            position: absolute;
            z-index: 99;

            height: calc(100% - 60px);
            width: calc(100% - 60px);
            top: 0;
            overflow-y: scroll;
        }

        #hangs .item {
            margin: 30px;
            background-color: rgba(255, 255, 255, .7);
            border-radius: 10px;
            width: calc(100% - 60px - 40px);
            padding: 5px 20px;
            font-size: 4em;
        }

        .panel.header {
            padding: .32857143em .78571429em .38571429em .78571429em !important;
        }

        .ui.table thead tr:first-child > th {
           position: sticky !important;
           top: 0;
           z-index: 33;
           background-color: white;
        }
</style>
{% endblock %}
{% block main %}
<div id="target"></div>
<script id="template" type="text/ractive">
{% raw %}
<div id="map" style="width: 100%; height: 58%"></div>
<div id="panel" style="width: 100%; height: calc(42% - 3.5em); background-color: rgba(0, 0, 0, .00); overflow-y: auto; overflow-x: hidden">
   <table class="ui very basic celled striped table">
      <thead>
         <tr>
            <th class="panel header"></th>
            <th class="panel header">Employee</th>
            <th class="panel header" style="white-space:nowrap;">
               {{#each clocks}}
                  <span style="width: 4em; display: inline-block; text-align: center">{{ ((this / 2) % 24 < 10 ? '0' : '') + parseInt(this / 2) % 24 }}:{{ ('0' + (this % 2) * 30).substr(this % 2, 2 + this % 2) }}</span>
               {{/each}}
               <div style="width: 3em; height: 20px; background-color: #00b4ab; margin-top: -1.4em; text-align: center; margin-left: {{ .5 + clock / 1800 * 4 }}em; border-radius: 2px">
                  <div style="width: 2px; height: 300px; background-color: #00b4ab; display: inline-block; margin-top: 20px"></div>
               </div>
            </th>
         </tr>
      </thead>
      <tbody>
         {{#each porters :key}}
            <tr>
               <td class="collapsing">
                  <div class="ui fitted slider checkbox" style="margin-left: .75em">
                     <input type="checkbox"> <label></label>
                  </div>
               </td>
               <td class="collapsing">
                  <h4 class="ui image header">
                     <img src="/static/images/avatar/lena.png" class="ui mini rounded image">
                     <div class="content">
                        {{ key }}
                        <div class="sub header"> {{ key.toString()[0] == '+' || !isNaN(key.toString()[0]) ? 'Human' : 'Ai' }} Resources </div>
                     </div>
                  </h4>
               </td>
               <td>
                  {{#if ('points' in this) }}
                     {{#each this.points }}
                        <span style="z-index: 30; position: relative;">
                           <button class="ui icon button point" on-mouseover="['pointer', this._id, true]" on-mouseout="['pointer', this._id, false]">
                             <i class="map marker alternate icon"></i>
                           </button>
                        </span>
                        <!-- {{ this._id }} -->
                     {{/each }}
                  {{else }}
                     -
                  {{/if }}
               </td>
            </tr>
         {{/each }}
      </tbody>
   </table>
</div>
<div style="line-height: 3.4em; border-top: 1px solid #E8E8E9;">
   <i class="big road icon" style="width: 1.6em;"></i> {{ m / 1000 }} (KM)
   <i class="big clock icon" style="width: 1.6em;"></i>
   <i class="big clock outline icon" style="width: 1.6em;"></i> {{ s / 60 }} (Min)
   <div class="ui right floated small primary labeled icon button" style="direction: right; margin-top: .55em; margin-right: .75em;">
       Notify Paths
       <i class="big rocketchat icon" style="width: 1.6em;"></i>
   </div>
   <div on-click="['algorithm']" class="ui right floated small primary labeled icon button" style="direction: right; margin-top: .55em; margin-right: .25em;">
       Algorithm
       <i class="large calendar alternate outline icon" style="width: 1.6em;"></i>
   </div>
</div>
<div id="hangs" class="window" style="display: {{ hangs.length == 0 ? 'none' : 'block' }}">
    <input class="item" value="{{ user }}">
    {{#if ! uniqueness}}
        <div class="item" style="color: red; font-weight: bold">
            unique name plz
        </div>
    {{/if}}
    {{#each hangs}}
        <div on-click="['getKey', this, user]" class="item">{{ this }}</div>
    {{/each}}
</div>
<!--<div id="clan" class="window"></div>-->
{% endraw %}
</script>
<script>

var ractive = new Ractive({
   target: '#target',
   template: '#template',
   data: {
      clocks: [{% for i in [46, 47, 0, 1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 14] %}{{ now.hour * 2 + (1 if now.minute >= 30 else 0) + i }}, {% endfor %}],
      clock: 0,
        hangs: [],
        hang: '{{ hang }}',
        user: null,
        uniqueness: false,
        key: '{{ key }}',
        path: null,
        map: null,
        play: null,
        pause: null,
        done: null,
        path_look: null,

        porters_date: 0,
        porters: {},
        paths_date: 0,
        paths: {},
        pcs: {},
    }
});

window.ractive = ractive;

ractive.observe( 'user', function ( value, oldValue, keypath ) {
    if(value) {
        window.ajax('/v0.2/!uniqueness=' + value, function(response) {
            response = JSON.parse(response);
            ractive.set('uniqueness', response.uniqueness);
        }, 'GET', null, true);
    } else ractive.set('uniqueness', false);
});

ractive.observe('paths', function (value, oldValue, keypath) {
   // it updates every time # TODO correct it.
   $('#path-icon .tag').html(Object.keys(value).length);
});

ractive.observe('porters', function (value, oldValue, keypath) {
   // it updates every time # TODO correct it.
   $('#porter-icon .tag').html(Object.keys(value).length);
});

ractive.on('algorithm', function() {
   $.post('/v0.2/{{ hang }}/!!!/{{ request.args['algorithm'][0] if 'algorithm' in request.args else 'hng' }}', {key: ractive.get('key')});
});

function hex2rgb(hex) {
    // Expand shorthand form (e.g. "03F") to full form (e.g. "0033FF")
    var shorthandRegex = /^#?([a-f\d])([a-f\d])([a-f\d])$/i;
    hex = hex.replace(shorthandRegex, function(m, r, g, b) {
        return r + r + g + g + b + b;
    });

    var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
    return result ? {
        r: parseInt(result[1], 16),
        g: parseInt(result[2], 16),
        b: parseInt(result[3], 16)
    } : null;
}

function rgb2hex(c) {
    return "#" + ((1 << 24) + (c.r << 16) + (c.g << 8) + c.b).toString(16).slice(1);
}

ractive.on('pointer', function(_, _id, flag) {
   paths = ractive.get('paths'); // ##
   fill = paths[_id].marker[1].fillColor;
   stroke = paths[_id].marker[1].strokeColor;
   weight = paths[_id].marker[1].strokeWeight;
   fill = hex2rgb(fill);
   stroke = hex2rgb(stroke);
   if (flag) {
      fill.r /= 2;
      fill.g /= 2;
      fill.b /= 2;
      stroke.r /= 2;
      stroke.g /= 2;
      stroke.b /= 2;
      weight *= 5;
   } else {
      fill.r *= 2;
      fill.g *= 2;
      fill.b *= 2;
      stroke.r *= 2;
      stroke.g *= 2;
      stroke.b *= 2;
      weight /= 5
   }
   paths[_id].marker[1].setOptions({strokeWeight: weight, strokeColor: rgb2hex(stroke), fillColor: rgb2hex(fill)});
});

var server_now = {{ (now.hour * 60 + now.minute) * 60 + now.second }};
var client_now = new Date();
client_now = (client_now.getHours() * 60 + client_now.getMinutes()) * 60 + client_now.getSeconds();
base_difference = server_now - client_now;

ractive.set('clock', server_now - {{ (now.hour - 1) * 3600 + (1800 if now.minute >= 30 else 0) }});

setInterval(function() {
   var now = new Date();
   now = (now.getHours() * 60 + now.getMinutes()) * 60 + now.getSeconds() + base_difference;
   now -= {{ (now.hour - 1) * 3600 + (1800 if now.minute >= 30 else 0) }};
   ractive.set('clock', now);
}, 6000);

{% if 'play' not in request.args or request.args['play'][0] == 'true' %}
   $.post('/v0.2/client/sims/{{ hang }}/@play=true', {key: ractive.get('key')}, function() {});
{% else %}
   $.post('/v0.2/client/sims/{{ hang }}/@play=false', {key: ractive.get('key')}, function() {});
{% endif %}

function initMap() {
      key = ractive.get('key');
      var uluru = {lat: 35.7122167,lng: 51.3645588};
      var map = new google.maps.Map(document.getElementById('map'), {
         zoom: 12,
         center: uluru,
         fullscreenControl: false,
      });

      colors = [
         ['#000', '#eee'],
         ['#e00', '#e88'],
         ['#0e0', '#8e8'],
         ['#00e', '#88e'],

         ['#d800d0', '#da6ed4'],
         ['#008ad6', '#50a6d6'],
         ['#00eaf2', '#74f0f8'],
         ['#a47036', '#bea282'],

         ['#fe147a', '#dc86ac'],
         ['#628642', '#92b874'],
         ['#5c7600', '#aafe00'],
         ['#fefe00', '#fefe7e'],
      ];

      var triangle = function(lat, lng, c) {
         var triangleCoords = [
            {lat: lat + .00065, lng: lng},
            {lat: lat - .0006, lng: lng + .000875},
            {lat: lat - .0006, lng: lng - .000875},
            {lat: lat + .00065, lng: lng},
         ];
            // Construct the polygon.
         var t = new google.maps.Polygon({
            paths: triangleCoords,
            strokeColor: colors[c][0],
            strokeOpacity: 1,
            strokeWeight: 1,
            fillColor: colors[c][1],
            fillOpacity: 0.85,
            map: map
         });

         return t;
      };

      var square = function(lat, lng, c) {
         var triangleCoords = [
            {lat: lat + .000725, lng: lng + .000875},
            {lat: lat - .000725, lng: lng + .000875},
            {lat: lat - .000725, lng: lng - .000875},
            {lat: lat + .000725, lng: lng - .000875},
            {lat: lat + .000725, lng: lng + .000875},
         ];
            // Construct the polygon.
         var t = new google.maps.Polygon({
            paths: triangleCoords,
            strokeColor: colors[c][0],
            strokeOpacity: 1,
            strokeWeight: 1,
            fillColor: colors[c][1],
            fillOpacity: 0.85,
            map: map
         });

         return t;
      };

      var line = function(s, t, c) {
         var flightPlanCoordinates = [
            {lat: s[0], lng: s[1]},
            {lat: t[0], lng: t[1]},
         ];
         var flightPath = new google.maps.Polyline({
            path: flightPlanCoordinates,
            geodesic: true,
            strokeColor: colors[c][0],
            strokeOpacity: 0.2,
            strokeWeight: 1,
            map: map
         });
         return flightPath;
      }

      var path_marker = function(s, t) {
         sq = square(s[0], s[1], 0);
         tr = triangle(t[0], t[1], 0);
         l = line(s, t, 0);
         return [sq, tr, l];
      }

      function setDeceleratingTimeout(callback, factor, times)
         {
             var internalCallback = function(tick, counter) {
                 return function() {
                     if (--tick >= 0) {
                         window.setTimeout(internalCallback, ++counter * factor);
                         callback();
                     }
                 }
             }(times, 0);

             window.setTimeout(internalCallback, factor);
         };

      setInterval(function() {
         var porters_date = ractive.get('porters_date');
         var porters = ractive.get('porters');
         // console.log(porters);
         var paths = ractive.get('paths');
         var paths_date = ractive.get('paths_date');
         var pcs = ractive.get('pcs');
         $.post('/v0.2/!!/{{ hang }}/paths/@undone', {key: key}, function(_paths) {
            for(var i=0;i<_paths.length;i++) {
               var _id = _paths[i]._id;
               var head = _paths[i].points[1].location;
               var tail = _paths[i].points[0].location;
               if (!(_id in paths)) {
                  paths[_id] = {marker: path_marker(head, tail)}
               }
               paths[_id].head = head;
               paths[_id].tail = tail;
               paths[_id]._date = paths_date;
               if (!('color' in paths[_id]))
                  paths[_id].color = 0;
               else if (_paths[i].porters.length && paths[_id].color === 0) {
                  color = Math.floor(Math.random() * 11 + 1);
                  paths[_id].marker[0].setOptions({strokeColor: colors[color][0], fillColor: colors[color][1]});
                  paths[_id].marker[1].setOptions({strokeColor: colors[color][0], fillColor: colors[color][1]});
                  paths[_id].marker[0].setOptions({strokeColor: colors[color][0]});
                  paths[_id].color = color;
               }
               if (paths[_id].color > 0) {
                  var porter = _paths[i].porters[0].porter;
                  pcs[porter] = paths[_id].color;
               }
            }
            for (_id in paths) {
               if (paths[_id]._date != paths_date) {
                  paths[_id].marker[0].setMap(null);
                  paths[_id].marker[1].setMap(null);
                  paths[_id].marker[2].setMap(null);
                  delete paths[_id];
               }
            }
            paths_date = 1 - paths_date;
            ractive.set('paths_date', paths_date);
         });

         $.post('/v0.2/!!/{{ hang }}/porters/@all', {key: key}, function(_porters) {
            for(var i=0;i<_porters.length;i++) {
               var name = _porters[i].porter;
               var location = _porters[i].location;
               if (!(name in porters)) {
                  porters[name] = {
                     marker: new google.maps.Circle({
                        strokeColor: '#000',
                        strokeOpacity: 1,
                        strokeWeight: 2,
                        fillColor: '#fff',
                        fillOpacity: 1,
                        map: map,
                        center: uluru,
                        radius: 80
                     })
                  }
               }
               porters[name].marker.setCenter({lat: location[0], lng: location[1]});
               if (name in pcs) {
                  porters[name].marker.setOptions({strokeColor: colors[pcs[name]][0], fillColor: colors[pcs[name]][1]});
               } else {
                  porters[name].marker.setOptions({strokeColor: colors[0][0], fillColor: colors[0][1]});
               }
               porters[name].location = location;
               porters[name]._date = porters_date;
               if ('points' in _porters[i])
                  porters[name].points = _porters[i].points
               else
                  delete porters[name]['points'];
            }
            for (name in porters) {
               if (porters[name]._date != porters_date) {
                  porters[name].marker.setMap(null);
                  delete porters[name];
               }
            }
            porters_date = 1 - porters_date;
            //
            {% if 'vehicles' in request.args %}
               var vehicles = {{ request.args['vehicles'][0] }};
               if (vehicles > _porters.length) {
                  vehicles -= _porters.length;
                  console.log(vehicles);
                  for (var vBulk = 0; vBulk < Math.min(vehicles, 5); vBulk ++)
                     $.post('/v0.2/client/sims/{{ hang }}/_/@_,_;@fastness=24', {key: ractive.get('key')});
               }
            {% endif %}
         });

         {% if 'status' not in request.args or request.args['status'][0] != 'false' %}
         $.post('/v0.2/client/sims/{{ hang }}/@status', {key: key}, function(status) {
            ractive.set('s', status.s);
            ractive.set('m', status.m);
         })
         {% endif %}

         for (var _key in pcs) delete pcs[_key];
         ractive.set('porters_date', porters_date);
         ractive.set('porters', porters);
         ractive.update('paths');
         ractive.set('pcs', pcs);
      }, 2500);
      var order = $('<div style="margin-top: .7em;" class="ui map big blue circular icon button"><i style="margin-left: -5px !important" class="dropbox icon"></i><i style="font-size: .5em; margin-right: -6px !important; margin-left: 3px !important; vertical-align: top" class="plus icon"></i></div>');
      var porter = $('<div style="margin-top: .3em;" class="ui map big red circular icon button"><i style="margin-left: -7px !important" class="motorcycle icon"></i><i style="font-size: .5em; margin-right: -8px !important; margin-left: 7px !important; vertical-align: top" class="plus icon"></i></div>');
      var state = 0;
      var head;
      function on(element) {
         element.html('<i class="times icon">');
         map.setOptions({
            draggable: false,
            // zoomControl: false,
            scrollwheel: false,
            // disableDoubleClickZoom: false,
            draggableCursor: 'crosshair',
            // draggingCursor: 'crosshair',
         });
      }
      function un(element, icon) {
         element.html('<i style="margin-left: -7px !important" class="' + icon +  ' icon"></i><i style="font-size: .5em; margin-right: -8px !important; margin-left: 7px !important; vertical-align: top" class="plus icon"></i>');
         map.setOptions({
            draggable: true,
            // zoomControl: false,
            scrollwheel: true,
            // disableDoubleClickZoom: true,
            draggableCursor: 'drag',
            draggingCursor: 'move',
         });
      }
      porter.bind('click', function(){
         if (state == 0) {
            state = 1;
            on(porter);
         } else if (state == 1) {
            state = 0;
            un(porter, 'motorcycle');
         }
      });

      order.bind('click', function() {
         if (state == 0) {
            state = 2;
            on(order);
         } else if (state == 2 || state == 3) {
            un(order, 'dropbox');
            state = 0;
         }
      });
      map.controls[google.maps.ControlPosition.RIGHT_TOP].push(order[0]);
      map.controls[google.maps.ControlPosition.RIGHT_TOP].push(porter[0]);

      google.maps.event.addListener(map, 'click', function(event) {
         latLng = event.latLng;
         if (state == 1) {
            $.post('/v0.2/client/sims/{{ hang }}/_/@' + latLng.lat() + ',' + latLng.lng() + ';@fastness=24', {key: ractive.get('key')}, function() {});
            state = 0;
            un(porter, 'motorcycle');
         }
         if (state == 3) {
            $.post('/v0.2/{{ hang }}/~{{ ('?auto=' + request.args['auto'][0]) if 'auto' in request.args else '' }}' + head.lat() + ',' + head.lng() + ';' + latLng.lat() + ',' + latLng.lng(), data={
               'key': key,
               'volume': 1,
               'priority': 1,
               'delay': 400
            });
            un(order, 'dropbox');
            state = 0;
         }
         if (state == 2) {
            head = latLng;
            state = 3;
         }
         return false;
      });
   }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ map_key }}&callback=initMap"></script>
{% endblock %}